.learnMoreDiv {
    background-color: #ffffff;
    color: #ff0000;
    height: 100vh;
    text-align: center;
}

.infoUl {
    text-decoration: none;
}

.mainDiv {
    background-color: rgb(255, 255, 255);
}


